#header_led {
    display: flow-root;
}

#header_led > h1 {
    float: left;
}

#header_led > select {
    margin-top: 15px;
    float: right;
    border-radius: 8px;
    width: 300px;
    padding: 5px;
    font-size: 20px;
    border: none;
    height: 50px;
    color: #e2e2e2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #353534 url('/arrow_down.png') 95% /15% no-repeat;

}

.leader, .not_leader {
    background: #353534;
    margin-bottom: 5px;
    padding: 0 30px;
    border-radius: 8px;

    display: grid;
    grid-template-columns: 15% max-content auto 15%;
    color: #e2e2e2;
    text-decoration: none;
}

.not_leader {
    border: solid 4px #FF6D00;
}

.leader > h1, .not_leader > h1 {
    font-size: 80px;
    margin: 19px 0;
    text-align: left;
}

.leader > img, .not_leader > img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 15px;
}

.leader > div, .not_leader > div {
    margin-top: 40px;
    padding: 0 15px;
    text-align: left;
    font-weight: 900;
}

.leader > div > h3, .not_leader > div > h3 {
    font-weight: bolder;
    font-size: 30px;
    margin: 0;
}

.leader > div > p, .not_leader > div > p {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    color: #ccc;
}

.leader > p, .not_leader > p {
    font-size: xx-large;
    font-weight: bold;
    margin: 45px 0;
    text-align: right;
}

.more {
    display: block;
    margin: 20px auto;
    text-align: center;
}

.more > a {
    text-decoration: none;
    color: #e2e2e2;
    font-size: xx-large;
    font-weight: bold;
    padding: 3px 20px 2px;
    margin: 0 5px;
    border-radius: 15px;
    border: none;
    background-color: #353534;
}

.more > a:active {
    background-color: #666;
}

