.new_f {
    display: none;
    border-radius: 8px;
    background: #353534;
    /*background: linear-gradient(135deg, rgba(255, 141, 0, 1) 0%, rgba(255, 109, 0, 1) 100%);*/
    margin-bottom: 20px;
}

.new_f > div {
    display: grid;
    grid-template-columns: auto max-content;
}

.lip {
    margin: 6px 0 0 0;
    display: grid;
    padding: 20px;
}

.lip > label {
    margin: 0;
    font-size: x-large;
    padding-left: 15px;
}

.lip > textarea {
    border: none;
    border-radius: 8px;
    font-size: x-large;
    padding-left: 5px;
    margin: 0;
    min-width: 100%;
    max-width: max-content;
    min-height: 50px;
}

.lip > input {
    padding-left: 5px;
    margin: 0;
    width: 100%;
    height: auto;
    border: none;
    border-radius: 8px;
    font-size: x-large;
}

#spo_sub {
    margin-top: 24px;
    width: calc(100% + 6px);
    height: 35px;
    background-color: #23B45D;
}

.new_f {
    margin: 10px 0;
    padding-bottom: 5px;
}

.new_f > h1 {
    text-align: center;
    margin: 0 0 20px;
    padding: 10px 0 0 0;
}

.new_f > div > div > img {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: auto;
    border-radius: 50%;
}

.new_f > div > div > #avalabel {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    font-size: x-large;
    color: black;
    height: 31px;
    padding: 4px 30px 0;
    width: 180px;
    background-color: #23B45D;
    text-align: center;
}

.new_f > div > div > #avatar {
    visibility: hidden;
    height: 1px;
    margin: 0 20px;
    padding: 0;
}

.example {
    margin: 10px 0 0;
    display: grid;
    grid-template-columns: 5% auto 15%;
    grid-column-gap: 10px;
}

.example input[type=text] {
    padding: 10px;
    font-size: x-large;
    border: none;
    color: #e2e2e2;
    border-radius: 8px;
    background: #464646;
}

.example button, .example a {
    text-decoration: none;
    background: #464646;
    color: #e2e2e2;
    font-size: x-large;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

.example button > p, .example a > p {
    margin: 0;
}

.example button:hover {
    background: #464646;
}

.example::after {
    content: "";
    clear: both;
    display: table;
}

.add {
    padding-bottom: 6px;
    font-size: 35px;
}

a > .add {
    padding-bottom: 0;
    font-size: 42px;
}
.theme{
    text-decoration: none;
    color: #e2e2e2;
    display: grid;
    margin: 10px 0;
}
.theme > div {
    background: #464646;
    border-radius: 8px;
    overflow: hidden;
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.theme > div:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.03, 1.03) translateY(-5px);
    background: linear-gradient(135deg, #ff6d00 0%, #b44b01 100%);
}

.theme > div > img {
    float: left;
    width: 80px;
    height: 80px;
    margin: 15px;
}

.theme > div > div {
    padding: 0 15px;
    text-align: left;
    font-weight: 900;
    font-size: 20px;
}
.theme > div > div > p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.more {
    display: block;
    margin: 20px auto;
    text-align: center;
}

.more > a {
    text-decoration: none;
    color: #e2e2e2;
    font-size: xx-large;
    font-weight: bold;
    padding: 3px 20px 2px;
    margin: 0 5px;
    border-radius: 15px;
    border: none;
    background-color: #353534;
}

.more > a:active {
    background-color: #666;
}