extends ../layout

block head
    title Главная

block content
    div
        h1 JS
        p JavaScript
    div
        h1 C#
        p CSharp
    div
        div
            h3 2283
            p онлайн
        div
            h3 227
            p пользователей
        div
            h3 10101
            p уроков

