doctype html
html(lang="ru")
head
    meta(charset="utf-8")
    title Главная
    style
        include style.css
body
    div(id="notfound")
        div(class="notfound")
            div(class="notfound-404")
                h1(id="kosmo") dyfjdyhfjsfj
            h2 fghkgfhkjgfkj
            | asdadasd
            p fhjkghfkk
            a(href="#") На главную
// This templates was made by Colorlib (https://colorlib.com)
