/* Три больших штуки (начало) */
.three-big-thing {
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 600px;
    grid-column-gap: 2%;
}

.three-big-thing > a {
    text-decoration: none;
    display: grid;
}

.some-big-thing {
    font-weight: bold;
    padding: 1px;
    height: 100%;
    border-radius: 5px;
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.some-big-thing:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.03, 1.03) translateY(-5px);
}

.some-big-thing > h1 {
    margin: 35% 0 0 0;
    font-family: "Lucida Console", serif;
    font-weight: lighter;
    font-size: 1500%;
}

.some-big-thing > p {
    font-family: "Lucida Console", serif;
    margin-top: 10%;
    font-size: 250%;
}

.some-big-thing > div > h3 {
    margin: 16% 0 0;
    font-size: 330%;
}

.some-big-thing > div > p {
    margin: 0;
    font-size: 165%;
}

/* Три больших штуки (конец) */

/* Три коммента (начало) */
.three-comments {
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto;
    grid-column-gap: 2%;
    padding-bottom: 10px;
}

.cloud {
    text-align: left;
    margin: 20px 0 20px 0;
    color: #e2e2e2;
    position: relative;
    padding: 15px;
    background-color: #464646;
    border-radius: 8px;
}

.cloud:after {
    top: 100%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 18px solid transparent;
    border-top-color: #464646;
    left: 25%;
    margin-left: -18px;
}

.cloud > p {
    margin-top: 0;
}

.cloud > a {
    color: #aaa;
    text-decoration: none;
}

.cloud > a:hover {
    text-decoration: underline;
}

.userCom > a {
    text-decoration: none;
}

.comment-avatar {
    float: left;
}

.userLog {
    display: flow-root;
}

.userLog > h1 {
    margin: 12px 0 6px 10px;
    color: #E9E9E9;
    text-align: left;
}

.userLog > h3 {
    margin: 0 0 0 10px;
    color: #CCC;
    text-align: left;
}

/* Три коммента (конец) */

/* Медиа, для слепых написано (начало) */
@media only screen and (max-width: 767px) {

}

/* Медиа, для слепых было написано (Конец) */

/* Слайдер (начало) */
.tns-item {
    margin: 15px 0;
}

.lessor > li {
    margin: 1% 0 0 0;
    font-size: 16px;
    font-weight: bold;
}

.lessor {
    width: 225px;
    height: 201px;
}

.lessor > img {
    margin: 15% 0 0 0;
    border-radius: 50%;
}

.lessor {
    border-radius: 8px;
    background-color: #464646;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.lessor:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.03, 1.03) translateY(-5px);
}

.slider2 > a {
    text-decoration: none;
    color: #eee;
    list-style: none;
}

.progress-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #8D8D8D;
}

.progress-bar > div {
    height: inherit;
}

/* Слайдер (конец) */