#language {
    margin: 15px auto;
    text-align: center;
}

#language > a {
    display: inline-flex;
    text-decoration: none;
}

#language > a > div {
    margin: 5px;
    padding: 20px 10px 10px;
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: block;
    width: 250px;
    height: auto;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(135deg, #464646, #464646);
}

#language > a > div > img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#language > a > div > h1 {
    color: #e2e2e2;
}

#language > a > div:hover {
    filter: drop-shadow(0px 0px 5px #222);
    transform: scale(1.03, 1.03) translateY(-5px);
}

.progress-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #8D8D8D
}

.progress-bar > div {
    height: inherit
}