extends ../layout.pug

block head
    title О нас - WebHub
    style.
        .content-body {
            max-width: 800px !important;
        }
block content
    p.
        Available Anytime & Anywhere for FREE!
        Learn on the web and on the go.
        Available on all major devices and platforms.
        Always pick up where you left off.
        More simple and enjoyable than ever!
    h2 Crowd-Learning
    p Learning has never been this social and accessible for so many! Bit-sized lessons and fun practice sessions grab your attention and keep you focused, for guaranteed best results!
    h2 Learn by Doing
    p Practice during lessons, practice between lessons, practice whenever you can. Master the task, then reinforce and test your knowledge with fun, hands-on exercises and interactive quizzes.
    h2 Unbound Learning
    p Don’t limit yourself! Now there are no limits – no more set locations, time, or pace! You decide where, when, and how quickly you’ll learn, and you can do it anytime, anywhere, on any device.
    h2 Learn while Playing
    p Learning should be fun. Develop your profile, unlock each level, earn skill points and achievements, and challenge yourself by competing with other learners throughout the world.