extends ../layout.pug

block head
    title О нас - WebHub
    style.
        .content-body {
            max-width: 800px !important;
        }
block content
    h2 WebHub
    p.
        Доступно в любое время и в любом месте бесплатно!
        Учитесь в Интернете и на ходу.
        Доступно на всех основных устройствах и платформах.
        Всегда выбирайте, где вы остановились.
        Более простой и приятный, чем когда-либо!
    h2 Crowd-Learning
    p Обучение никогда не было таким социальным и доступным для многих! Уроки размером с бит и увлекательные практические занятия привлекают ваше внимание и помогают сосредоточиться, гарантируя наилучшие результаты!
    h2 Учись, делая
    p Тренируйтесь во время уроков, тренируйтесь между уроками, тренируйтесь, когда можете. Выполните задание, а затем укрепите и проверьте свои знания с помощью веселых, практических упражнений и интерактивных тестов.
    h2 Обучение без границ
    p Не ограничивайте себя! Теперь нет никаких ограничений - больше нет заданных локаций, времени или темпа! Вы сами решаете, где, когда и как быстро вы будете учиться, и вы можете делать это в любое время, в любом месте, на любом устройстве.
    h2 Учись играя
    p Обучение должно быть веселым. Развивайте свой профиль, открывайте каждый уровень, зарабатывайте очки умений и достижений и испытайте себя, соревнуясь с другими учениками по всему миру.