header
    img(
        src="index/logo2.png"
        width="78px"
        height="64px"
    )
    a(href='#' style='text-decoration:none; color:white') Курсы
    a(href='#' style='text-decoration:none; color:white') Песочница
    a(href='#' style='text-decoration:none; color:white') Форум
    a(href='#' style='text-decoration:none; color:white') Играть
    a(href='#' style='text-decoration:none; color:white') Топ
    div
        img(src=user_avatar)




