include ./share-mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="/fontawesome-free-5.13.0-web/css/all.min.css")
        link(rel="stylesheet" href="/layout-style.css")
        block head

    include ./header.pug
    body
        div.content-body(
            style={
                "margin-left": "auto",
                "margin-right": "auto",
                padding: "0 15px"
            }
        )
            block content
        #footer-push
    include ./footer.pug
