doctype html
html(lang="ru")
    head
        style.
            .content-body {
                max-width: 1500px;
            }

            @media only screen and (max-width: 1500px) {
                .content-body {
                    max-width: 1000px;
                }
            }
        meta(charset="utf-8")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
        block head

    include ./header.pug
    body(style={
        "font-family": "Arial",
        "background-color": "#202020",
        color: "#eee",
        margin: 0,
        padding: 0
    })
        div(
            class="content-body"
            style={
                margin: "auto",
                padding: "0 15px"
            }
        )
            block content
    include ./footer.pug
