doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        block head
        // style
        //     include style.css
    include ./header.pug
    body(style={
        "font-family": "Arial",
        "background-color": "#202020",
        color: "#eee",
        margin: 0,
        padding: 0
    })
        div(
            class="content-body"
            style={
                "max-width": "1500px",
                margin: "auto",
                padding: "15px"
            }
        )
            block content
    include ./footer.pug
