doctype html
html(lang="ru")
head
    meta(charset="utf-8")
    block head
    style
        include style.css
include ./header.pug
body
    block content
include ./footer.pug
// This templates was made by Colorlib (https://colorlib.com)
