mixin lesson(is_lock, lesson, is_extended)
    a(href=(user.is_authorised && !is_lock && lesson.url) class=(is_extended && "extended-lesson"))
        div(class="lessor" class=((!user.is_authorised || is_lock) && "disabled"))
            img(src=(!user.is_authorised || !is_lock) ? lesson.avatar : "/lock.png" width="100px" height="100px")
            li #{lesson.title}
            if (user.is_authorised && !is_lock)
                +progress-bar(lesson.progress, lesson.is_complete ? "#23B45D" : "#F3EB0C", 10)

mixin progress-bar(percent, color, height)
    div(
        class="progress-bar"
        style={height: (height || 15) + "px"}
    )
        div(style={
            width: (percent * 100) + "%",
            background: color
        })