extends ../layout

block head
    title Песочница - WebHub
    style
        include style.css

block content
    div
        ul
            li
                span Тема 1
                div
                    a
                        img
                        span Габе РИП
            li
                span Тема 2
                div
                    a
                        img
                        span Габе ЖИВ
            li