.content-body {
    width: 650px;
}

#auto_but {
    background-color: #8d8d8d;
}

.tabcontent {
    border-radius: 8px;
    background: #353534;
    margin-bottom: 20px;
}

#reg_tab {
    display: none;
}

#reg_tab > form {
    grid-template-columns: 50% auto;
    padding: 20px;
}

#auto_tab > form > input {
    width: auto;
}

.tabcontent > form {
    display: grid;
    padding: 20px;
}

.tabcontent > form > label, .tabcontent > form > div > label {
    margin: 0;
    font-size: x-large;
    padding-left: 15px;
}

.tabcontent > form > input, .tabcontent > form > div > input {
    padding-left: 5px;
    width: 250px;
    height: auto;
    border: none;
    border-radius: 8px;
    font-size: x-large;
}

#forgotten {
    background: none;
    font-style: italic;
    font-size: 20px;
    margin: 5px 0;
    padding: 0;
    color: black;
}

#spo_sub, #inside {
    margin-top: 24px;
    width: 250px;
    height: 35px;
    background-color: #23B45D;
    padding-left: 5px;
    border: none;
    border-radius: 8px;
    font-size: x-large;
}

#inside {
    margin-top: 15px;
}

.tabcontent > form > div {
    margin: 10px auto 0;
    display: block;
}

.tabcontent > form > div:last-child {
    text-align: center;
}

.tabcontent > form > div:last-child > h1 {
    margin: 0 0 15px;
}

.tabcontent > form > div > img {
    text-align: center;
    margin: 0 auto -15px;
    width: 180px;
    height: auto;
    border-radius: 50%;
}

.tabcontent > form > div > #avalabel {
    display: block;
    margin: 5px auto 0;
    border: none;
    border-radius: 8px;
    font-size: medium;
    width: 180px;
    background-color: #23B45D;
    padding: 7px;
    color: buttontext;
}

.tabcontent > form > div > #avatar {
    visibility: hidden;
    height: 1px;
    margin: 0;
    padding: 0;
}

#buttons {
    margin-top: 20px;
    text-align: center;
}

.tablink {
    background-color: #353534;
    margin: 0 40px;
    padding: 5px 50px;
    font-size: x-large;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}